.AddSong {
    position: relative;
    display: flex;
    font-size: medium;
    color: black;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: inherit;
    margin: 2px 20px 2px 65px;
    border-radius: 5px;
    height: auto;
    text-align: left;
}

.AddSong:hover:not(.AddSong-added, .AddSong-loading) {
    text-decoration: underline;
    color: #137a7f;
}

.AddSong-added {
    text-decoration: none;
    color: #e12885;
}

/* .AddSong-scrolled {
    position: fixed;
    top: 0;
    background-color: #e9e9e9;
    box-shadow: 0 -2px 20px 2px #191414;
} */

.AddSong-icon {
    font-size: 36px;
    margin: 0 5px 0 5px;
}