@import url('https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic');

.App {
  text-align: center;
}

html,
body {
  background-color: #e9e9e9;
  color: black;
  max-width: 100%;
  overflow-x: hidden;
}

* {
  font-family: 'Tahoma Light', Arial, Helvetica, sans-serif !important;
}

.empty {
  width: 100%;
  text-align: center;
}

.buffer {
  height: 200px;
}

.legal {
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 1%;
  margin: 2% 0% 0% 0%;
  font-size: small;
  color: grey;

  a {
    color: grey;
  }
}

@media only screen and (max-width: 600px) {
    .legal {
      text-align: right;
      font-size: xx-small;
      right: 2%;
    }
}