@import url('https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic');

.App {
  text-align: center;
}

html,
body {
  background-color: #e9e9e9;
  color: black;
  max-width: 100%;
  overflow-x: hidden;
}

* {
  font-family: 'Tahoma Light', Arial, Helvetica, sans-serif !important;
}

.empty {
  text-align: center;
  margin: 20px;
}

.buffer {
  height: 200px
}

.legal {
  position: fixed;
  right: 3%;
  bottom: 1%;
  margin: 2% 0% 0% 0%;
  font-size: small;
  color: grey;
}