.Home {
    width: 100%;
}

.Home-message {
    padding-left: 10px;
}

.Home-sidebar {
    width: 20%;
    float: right;
    background: #bec8d18e;
    border-radius: 5px;
    margin: 2em 5% 0 0;
    padding: 1%;
}

.Home-clear-filter {
    font-family: inherit;
    font-size: medium;
    cursor: pointer;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    outline: inherit;
    text-decoration: underline;
    color: black;
    margin: 0 0 5% 0;
}

.Home-clear-filter:hover {
    text-decoration: underline;
    color: #137a7f;
}

.Home-characterModule {
    display: inline-block;
    width: 150px;
    height: auto;
    padding: 10px;
    outline: none;
    border-color: aliceblue
}

.Home-container {
    justify-content: center;
    width: 70%;
    padding: 0 5% 0 5%;
}

.Home-show-more {
    position: relative;
    display: inline-block;
    font-size: medium;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: inherit;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

.Home-show-more:hover {
    color: #137a7f;
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {

    .Home-container {
        width: 100%;
    }

    .Home-sidebar {
        float: none;
        width: 80%;
        margin: 5%;
        min-height: 0;
    }
}
