.AddSong {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    color: royalblue;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: inherit;
    margin: 2px 20px 2px 65px;
    border-radius: 5px;
    height: auto;
}

/* .AddSong-scrolled {
    position: fixed;
    top: 0;
    background-color: #e9e9e9;
    box-shadow: 0 -2px 20px 2px #191414;
} */

.AddSong-icon {
    font-size: 36px;
    margin: 0 5px 0 5px;
}