.CharacterButton-button {
    cursor: pointer;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    outline: inherit;
    text-decoration: none;
}

.CharacterButton-button:hover {
    .CharacterButton-name {
        color: royalblue;
        text-decoration: underline;
    }
}

.CharacterButton-image-container {
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin-bottom: 7px;
}

.CharacterButton-image {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border: none;
    /* transition: transform .5s ease; */
}

/* .CharacterButton-image:hover {
    transform: scale(1.01);
} */

.CharacterButton-name {
    font-weight: bold;
    font-size: medium;
    text-align: center;
    border: none;
    text-overflow: ellipsis;
}

.CharacterButton-media {
    text-align: center;
    font-size: small;
    border: none;
    text-overflow: ellipsis;
}