.Header {
    background-color: #302c2c;
}

.Header-button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.Header-title {
    font-size: x-large;
    font-weight: bold;
    display: inline-flex;
}

.logo {
    max-width: 290px;
    max-height: 65px;
    width: auto;
    height: auto;
    margin: 5% 5% 5% 20%;
    display: inline-flex;
}