.Playlist {
    text-align: center;
    width: 55%;
    margin: 5px 10% 0 40%;
    height: auto;
    padding: 5px;
}

.Playlist-bottom-container {
    text-align: center;
    width: 100%;
    margin: 0 50% 0 70%;
}

.Playlist-show-more {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    color: royalblue;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: inherit;
    border-radius: 5px;
}