.search-bar {
    background-color: transparent;
    text-align: right;
    padding-right: 45px;
    margin-bottom: 15px;
}

.search-input {
    width: 40%;
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {
    .search-input {
        width: 80%;
        border-radius: 5px;
    }
}