.Song {
    display: inline-block;
    width: 200px;
    height: auto;
    margin: 5px 0 0 5px;
    padding: 10px;
    outline: none;
}

.Song-image {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 5%;
    border:none;
}

.Song-title {
    font-weight: bold;
    font-size: medium;
    text-align: center;
    border:none;
    text-overflow: ellipsis;
}

.Song-artists {
    text-align: center;
    font-size: small;
    border:none;
    text-overflow: ellipsis;
}

