.WebPlayback-player {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 130px;
    background-color: #191414;
    color: white;
    box-shadow: 0 -2px 20px 2px #191414;
}

.WebPlayback-cover {
    position: relative;
    object-fit: cover;
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 20px;
}

.WebPlayback-side {
    position: absolute;
    display: inline-block;
    margin: 2% 0% 0% 0%;
    width: 80%;
}

.WebPlayback-title {
    font-size: 13pt;
    text-overflow: ellipsis;
}

.WebPlayback-artists {
    font-size: 11pt;
    text-overflow: ellipsis;
    color: #a7a7a7;
    font-weight: 600;
}

.WebPlayback-controls {
    position: absolute;
}

.WebPlayback-button {
    cursor: pointer;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    outline: inherit;
    color: white;
    font-size: 20pt;
}

.WebPlayback-button-icon {
    width: 15px;
    margin: 6px;
    color: white;
    font-size: 20pt;
}

.button-active {
    color: #1DB954;
}

.WebPlayback-spotify {
    max-height: 150px;
    max-width: 150px;
    position: absolute;
    right: 5%;
    bottom: 15%;
    margin: 2% 0% 0% 0%;
    color: white;
}

.WebPlayback-spotifyLogo {
    position: inline-block;
    width: 100%;
    height: 100%;
    margin: 2%;
}