.CharacterButton-container {
    margin: 1%;
    cursor: pointer;
}

.CharacterButton-image {  
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 5%;
}

.CharacterButton-name {
    font-weight: bold;
    text-align: center;
}

.CharacterButton-media {
    text-align: center;
}