.Character-image {  
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 5%;
    display: inline-block;
    position: relative;
    object-fit: cover;
    margin: 1%;
}

.Character-side {
    font-size: x-large;
    position: absolute;
    display: inline-block;
    margin: 2% 0% 0% 0%;
    width: 80%;
}

.Character-name {
    font-weight: bold;
}
