.Header-title {
    font-size: x-large;
    font-weight: bold;
    margin: 20px;
    display: inline-flex;
}

.Header-spotify {
    max-width: 130px;
    max-height: 55px;
    width: auto;
    height: auto;
    margin: 20px;
    display: inline-flex;
}

.logo {
    max-width: 390px;
    max-height: 165px;
    width: auto;
    height: auto;
    margin: 20px;
    display: inline-flex;
  }