.Home-characterModule {
    display: inline-block;
    width: 200px;
    height: auto;
    margin: 5px 0 0 5px;
    padding: 10px;
    outline: none;
    border-color:aliceblue
}

.Home-container {
    text-align: center;
}

.buffer{
    height:200px
}