.WebPlayback-player {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 130px;
    background-color: #282c34;
    color: white;
    box-shadow: 0 -2px 100px 2px #282c34;
}

.WebPlayback-cover {
    position: relative;
    object-fit: cover;
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 1%;
}

.WebPlayback-side {
    position: absolute;
    display: inline-block;
    margin: 2% 0% 0% 0%;
    width: 80%;
}

.WebPlayback-title {
    font-weight: bold;
    font-size: 13pt;
    text-overflow: ellipsis;
}

.WebPlayback-artists {
    font-size: 11pt;
    text-overflow: ellipsis;
}

.WebPlayback-button {
    margin: 2px;
    size: 10px;
}
